@mixin area($rowStart, $rowEnd, $columnStart, $columnEnd) {
    grid-row-start: $rowStart;
    grid-row-end: $rowEnd;
    grid-column-start: $columnStart;
    grid-column-end: $columnEnd;
}

.post-grid {
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: center;
 
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(4, auto);
    
    gap: 0.325em;

    img {object-fit: cover; object-position: center;}
    
    & .post:nth-child(1) {grid-area: 1 / 1 / 3 / 2;}
    
    & .post:nth-child(2) {grid-area: 1 / 2 / 2 / 3;} 
    
    & .post:nth-child(3) {grid-area: 1 / 3 / 3 / 4;}
    
    & .post:nth-child(4) {grid-area: 3 / 1 / 5 / 2;}
    
    & .post:nth-child(5) {grid-area: 2 / 2 / 4 / 3;}
    
    & .post:nth-child(6) {grid-area: 3 / 3 / 5 / 4;}

    & .post:nth-child(7) {grid-area: 4 / 2 / 5 / 3;}

}